{% extends 'base.html.twig' %}

{% block body %}
    <h1>Все категории | <a href="{{ path('category_tree') }}">Дерево</a></h1>
    <ol>
        {% for category in categories %}
            {% include ':category:item.html.twig' with {"category": category} %}
        {% endfor %}
    </ol>
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/tree.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}