<li>
    {{ category.title }}
    {% if category.__children is not empty %}
    <ol>
        {% for child in category.__children %}
            {% include ':category:item.html.twig' with {"category": child} %}
        {% endfor %}
    </ol>
    {% endif %}
</li>