{% extends 'base.html.twig' %}

{% block body %}
    <h1><a href="{{ path('category_all') }}">Все категории</a> | Дерево</h1>
    <div id="category-tree"></div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/tree.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@jquery' '@AppBundle/Resources/public/tree.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>initTree({{ path('category_roots')|json_encode|raw }})</script>
{% endblock %}